.card{
    height: 500px;
    width: 300px;
    padding: 0;
    border: 5px solid black;
    margin: 40px;
    text-align: center;
    background-color: rgb(217, 228, 174);
}
.body{
    margin: 0;
    padding: 0;
    height: 100hv;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#fff7d1,#fffcc7);
    font-family: 'Times New Roman', Times, serif;
}
.about-the-college{
    margin-top: 20px;
    background-color: aqua;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
}
.list-of-departments{
    margin-top: 10px;
    font-size: 18px;
    padding: 5px 10px;
}